doctype html
html
  head
    title= title
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
  body
    include /partials/menu.pug
    <div class="container-fluid">
      <main>
      block content
      </main>
    </div>
    include /partials/footer.pug
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
