doctype html
html
  head
    title= title
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/styles/site.css'/>
  body
    include /partials/menu.pug
    <div class="container-fluid">
      <!-- main не трогать -->
      <main>
        <div id="maincontent" style="position: relative;" class="pb-3">
          block content
        </div>
      </main>
    </div>
    include /partials/footer.pug
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/scripts/site.js"></script>
