<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" >
                <img src="/images/nodejs-seeklogo.com.svg" alt="" width="30" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav nav-pills">
                    - if(path == "/"){
                        <a class="nav-link active" href="/">Главная</a> 
                    - }
                    - else{
                        <a class="nav-link" href="/">Главная</a> 
                    - }
                    
                    - if(path == "/discription"){
                        <a class="nav-link active" href="/discription">Описание</a>
                    - }
                    - else{
                        <a class="nav-link" href="/discription">Описание</a>
                    - }
                    - if(path == "/chat"){
                        <a class="nav-link active" href="/chat">Чат</a>
                    - }
                    - else{
                        <a class="nav-link" href="/chat">Чат</a>
                    - }
                    
                </div>
            </div>
        </div>
    </nav>
</header>